<p>Bonjour <%= @user.first_name %>,</p>
<p>
  Votre commande a été accepté et votre patissier s'engage à vous préparer vos petits gateaux avec amour.
  Vous pouvez le contacter pour vous plus d'infos et ainsi s'organiser comme vous le souhaitez.
</p>
<p>
Charlotte, de l'équipe <strong>DeliceAvenue</strong>
</p>
 <br>
<p>
  (Notre site est en version BETA, nous serions très ravis de recevoir vos retours qui vont nous aider à le construire et l'améliorer ensemble)
</p>