<p>Bonjour <%= @user.first_name %>,</p>
<p>
  Vous avez reçu une nouvelle commande sur <strong>DeliceAvenue</strong>.
  Vous pouvez contacter votre patissier pour plus de détails et ainsi vous organisez au mieux.
</p>
<br>
<p>
Charlotte, de l'équipe <strong>DeliceAvenue</strong>
</p>
<br>
<p>
  (Notre site est en version BETA, nous aimerions le construire et l'améliorer avec vous. Nous serions très ravis de recevoir vos remarques)
</p>