<p>Bonjour <%= @user.first_name %>,</p>
<p>
  Votre commande à bien été prise en compte, et est en attente de réponse du patissier.
  Vous pouvez contacter votre client pour plus d'informations.
</p>
<p>
  Nous vous remercions pour votre confiance et espérions que notre service satisfera votre attentes.
</p>
<p>
Charlotte, de l'équipe <strong>DeliceAvenue</strong>
</p>

<br>

<p>
  (Notre site est en version BETA, nous serions très ravis de recevoir vos retours qui vont nous aider à le construire et l'améliorer ensemble)
</p>