<p>Bonjour <%= @user.first_name %>,</p>
<p>
  Votre commande a été acceptée et votre patissier s'engage à vous préparer vos petits gateaux avec amour.
  Vous pouvez le contacter pour vous plus d'infos et ainsi s'organiser comme vous le souhaitez.
</p>
<p>
Charlotte, de l'équipe <strong>DeliceAvenue</strong>
</p>
<br>
<p>
  (Notre site est en version BETA, nous aimerions le construire et l'améliorer avec vous. Nous serions très ravis de recevoir vos remarques)
</p>