<p>Bonjour <%= @user.first_name %>,</p>
<p>
  Le patissier ne peut pas vous préparer la commande. Vous pouvez le contacter pour vous organiser différemment.
</p>
<p>
Charlotte, de l'équipe <strong>DeliceAvenue</strong>
</p>
<br>
<p>
  (Notre site est en version BETA, nous serions très ravis de recevoir vos retours qui vont nous aider à le construire et l'améliorer ensemble)
</p>