<p>Bonjour <%= @user.first_name %>,</p>
<p>
  Vous avez une nouvelle commande sur <strong>DeliceAvenue</strong>.
  Vous pouvez contacter pour vous organiser différemment.
</p>
<p>
Charlotte, de l'équipe <strong>DeliceAvenue</strong>
</p>


<p>
  (Notre site est en version BETA, nous serions très ravis de recevoir vos retours qui vont nous aider à le construire et l'améliorer ensemble)
</p>