<p>Bonjour <%= @user.first_name %>,</p>
<p>
  Le patissier ne peut pas vous préparer votre commande. Vous pouvez le contacter pour vous organiser différemment.
</p>
<br>
<p>
Charlotte, de l'équipe <strong>DeliceAvenue</strong>
</p>
<br>
<p>
  (Notre site est en version BETA, nous aimerions le construire et l'améliorer avec vous. Nous serions très ravis de recevoir vos remarques)
</p>