<p>Bonjour <%= @user.first_name %>,</p>
<p>
  Nous sommes très heureux de vous compter parmi nous dans <strong>DeliceAvenue</strong>, N'hésitez pas à nous écrire si vous avez des questions.
</p>
<br>
<p>
Charlotte, de l'équipe <strong>DeliceAvenue</strong>
</p>