body {
  min-height: 650px;
}

#wrapper {
  padding-top: 71px;
  min-height: 100%;
  position: relative;
}

#banner {
  padding-top: 100px;
  height: 600px;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(banner.jpg);
  background-size: cover;
  background-position: center;
  color: white
}

#search-box {
  margin-top: -300px;
}

.container {
  margin: 0;
  width: 100%;
}


.box_black  {
  background-color: black;
  color:white;
}