#high_voltage_pages_show {
  padding-top: 0;
}

#banner{
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url('macaron2.jpg');
  background-size: cover;
  color: white;
  margin-top: -81px;
  font-size: 35px;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.11);
  h2 {
      line-height: 40px;
  }
}

#pages_home .navbar-wagon{
  margin-bottom: 0px;
}

.home-search{
  margin-top: 167px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: rgba(0,0,0,0.6);
}

#shops{
  background-color: #FFFFFF;
  margin: 40px auto;
  h2 {
    font-size:30px;
    line-height: 40px;
  }
}

.pastry-card {
  margin: 20px auto;
  width: 400px;
  margin: 0 auto;
  border-radius: 1px;
  color: white;
  opacity: 1;
  &:hover {
    transition: all 0.2s ease;
    opacity: 1;
    transform: scale(1.01);
  }

}

#text-card-padded{
  margin: 20px;
}

.title-padded {
  padding: 20px;
  margin-bottom: 20px;
}

#presentation {
  background-color: #EEEEEE;
  padding-bottom: 30px;
  h2 {
    font-size:30px;
  }
  h3 {
    font-size:16px;
    color: #555555;
  }
  p {
    font-size:14px;
    color: black;
  }
}

.step {

  width: 1100px;
  margin: 0 auto;
  height:110px;

    li {
      list-style: none;
      .img-step {
        float: left;
        text-align: center;
        position: relative;
        height: 127px;
        width: 90px;
      }

    .cont {
      position:relative;
      float: left;
      width: 180px;
      float: left;
      width: 180px;
      margin-top: 0;
      text-align: justify;
      margin-top: -15px;
    }
  }
}

@media (max-width:1000px){
  .step {

    width: 1000px;
  }
}


