.header-shop {
  margin-top: -10px;
  background-color: #B34253;
  padding-bottom: 39px;
  padding-top: 35px;

a   {
  color:white;
    &:hover   {
      color:white;
    }
}

p {

  color: white;
  font-size:20px;
  font-weight:10px;

}

h1 {

  color:#FFFFFF;
  font-size: 38px;
  font-weight:300;
  letter-spacing:1px;

}

h2 {

  color: rgba(242, 169, 180, 1);
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;

}



h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  color: #000;
  font-size:16px;
  font-weight:400;
}

}

.shop-img {
  width: 150px;
  height: 150px;
  border: 1px solid #878988;
  margin-right: 20px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05);
  margin-top: 23px;
  border-radius: 50%;
}

.shop-img2 {
  width: 150px;
  height: 150px;
  border: 1px solid #878988;
  margin-right: 20px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05);
  margin-top: 23px;
  border-radius: 50%;
}

.img {
float: left;
height: 184px;
}


#pastries-shop {

  .breadcrumb {background: white; border: white; border-radius: 0px; display: block;}
  .breadcrumb a {color: black}
  .breadcrumb>li+li:before {
  color: black;
  content: "\007C\00a0";
}
}

.sommaire-shop {

  .breadcrumb {background: white; border: white; border-radius: 0px; display: block;}
  .breadcrumb li {font-size: 15px;}
  .breadcrumb a {color: black}
  .breadcrumb>li+li:before {
    color: black;
    content: "\007C\00a0";
}

.active-sommaire {
  font-weight:bold;
}

}

.box-shadow-separator {
box-shadow: 0px 1px 4px #E4E4E4;
}

.animateBox {
  border: 1px solid #d1d1d1;
  height: 302px;
  width: 220px;
  position: relative;
  margin-bottom: 20px;

  .pastry-img {
    height: 150px;
    width: 200px;
    padding-left: 10px;
    margin-bottom: 10px;
    position:relative;
  }
}

.info {
  padding-left:14px;
  line-height: 17px;
  margin-bottom: 5px;
  vertical-align: top;
  white-space: normal;
  width: 165px;
  font-size:15px;
  color:black;
  decoration:none;
  letter-spacing:0px;

.number {
  color: #FF5151;
  padding-right: 8px;
  float: none;
  font-family: Helvetica;
}
  p {
    color: #777;
    display: block;
    font-family: Helvetica;
    font-size: 12px;
    width: 100%;
    padding-top:5px
  }

}

.price {
  button {
    position: absolute;
    top: 260px;
    right: -4px;
    margin-right: 10px;
    font-size:15px;
    border-radius: 9px;
    width: 5em;
    height: 2em;

    &:hover {
      background-color: #B34253;
    }

    &:focus {
      background-color: #B34253;
      border:none !important;
      outline:none !important;
    }

  }
}

.link {
    font-size: 13px;
    color:black;
    text-decoration:none;
  }

.header-pastries {
  margin-top: -29px;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
  color:black;
  text-decoration: underline;
  }
}

.buttons {
  position: absolute;
  top: 4px;
  right: 7px;
}

.img-rating {
  border-radius: 50%;
  border: 2px solid #fff;
  height:68px;
  width:68px;

}

.profile-name {
  color: #82888a;
  font-size: 14px;
  padding-left:13px;
}

#comments {

hr {
  margin-top: 45px;
  margin-bottom: 40px;
  border-top: 1px solid #dce0e0;
}

.content {
  font-size: 14px;
  color: #565a5c;
}
}
