.profil-img {
  height: 230px;
  width: 230px;
  margin-top: 25px;
}

.user-profil {
  background: #F5F5F5;
  height:1224px;
  padding-left: 30px,

  h2 {
    font-size:44px;
    line-height:40px;
  }

  .link {
    font-size:14px;
    color: #FF5B60;
  }

  p {

  font-size:14px;
  }

}

.about {

  text-decoration: text
  h3 {
    text-decoration: underline;
  }

}

a {
    color: grey;
  }