#profil-show  {

  .shop-img2   {
    margin: auto;
  }
}

.profil-card   {
  width: 400px;
  height: 100%;
  background-color: #F7F7F7;
  border-radius: 5px;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 1px 1px 1px #ECEAEA;

  a   {
    color:grey;
  }

  h1  {
    letter-spacing: 0px;
    color: rgb(238, 95, 91);
  }

  h2  {
    font-weight:bold;
    font-size: 18px;
  }
 }