 <%= link_to "#" do %>
  <i class="fa fa-shopping-cart"></i>
  <%= t(".messages", default: "Mon panier") %>
  <span class="badge"><%= cart.total_unique_items %> produits :<%= cart.total %>€</span>
<% end %>