<div class="text-center" id="footer">
    <h2 class="padding-bottom">Rejoignez-nous sur</h2>
    <ul class="list-inline">
        <li>
          <a href="#" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-facebook footer-icon"></i>
          </a>
        </li>

        <li>
          <a href="#" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-twitter footer-icon"></i>
          </a>
        </li>

        <li>
          <a href="#" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-instagram footer-icon"></i>
          </a>
        </li>

        <li>
          <a href="#" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-pinterest footer-icon"></i>
          </a>
        </li>

    </ul>

    <div id="copyright" class="row-space-top-2 text-muted">
      <h3>© Macaron, Inc.</h3>
    </div>
</div>