<%= form_tag(pastries_path, method: :get, class: "form-inline search-size") do %>
  <div class="form-group nested-group">
      <input type="text" class="form-control" placeholder="Macarons, éclairs... " name="item">
      <input placeholder="Ville" type="text" placeholder="Paris, Strasbourg, Marseille" name="location" class="form-control">
      <input placeholder="Date de livraison" type="text" data-provide='datepicker' name="delivery-date" class="form-control">
      <input class="btn btn-primary" type="submit" value="Rechercher">
  </div>
<% end %>