<div class="banner" id= "banner-bg-home">
  <div class="container">
    <div class='text-center'>
        <h1 style="padding-top: 250px"> <strong>Bienvenue dans 5th Avenue</strong></h1>
        <h2>Trouve les meilleurs macarons près de chez toi</h2>
    </div>
  </div>
  <div class="container-fluid home-search">

    <%= form_tag(pastries_path, method: :get, class: "form-inline search-size") do %>
    <div class="text-center">
      <div class="form-group nested-group">
          <input type="text" class="form-control" placeholder="Macarons, éclairs... " name="item">

          <div class="input-daterange input-group" id="datepicker">
            <input type="text"  data-provide='datepicker' class="input-sm form-control" name="delivery-date" placeholder="Date de livraison">
          </div>

          <input id="search_input_autocomplete_location" placeholder="Paris, Lyon..." name="location" class="form-control">
          <input class="btn btn-success" type="submit" value="Rechercher">

      </div>
    </div>
<% end %>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="shops">
    <div class="row">
      <div class="title-padded"><h2>Découvre les nouvelles boutiques vers chez toi</h2></div>
      <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
        <img src="http://placehold.it/300x300" class="img-thumbnail">
          <div class="pastry-card">

            <div id="text-card-padded">
              <h3>Chez Anou</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
      <div class="pastry-card">
        <img src="http://placehold.it/300x300" class="img-thumbnail">
          <div id="text-card-padded">
            <h3>Chez Fanny</h3>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
      <div class="pastry-card">
        <img src="http://placehold.it/300x300" class="img-thumbnail">
          <div id="text-card-padded">
            <h3>Chez Kevin</h3>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center" id="concept">
  <div class="row">
    <div class="title-padded"><h2><strong>Notre concept</strong></h2>
      <p> lorem posum bla bla bla bla bla lorem posum bla bla bla bla bla lorem posum bla bla bla bla bla lorem posum bla bla bla bla bla lorem posum bla bla bla bla bla lorem posum bla bla bla bla blalorem posum bla bla bla bla bla lorem posum bla bla bla bla bla lorem posum bla bla bla bla bla </p>
    </div>
  </div>
</div>

<div class="container-fluid text-center" id="howto">
  <div class="row">
    <div class="title-padded"><h2><strong>Comment ca marche?</strong></h2></div>
      <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
        <img src="http://placehold.it/150x150">
          <div class="ourconcept">
            <div id="text-card-padded">
              <h3>Step 1</h3>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
        <img src="http://placehold.it/150x150">
          <div class="ourconcept">
            <div id="text-card-padded">
              <h3>Step 2</h3>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
        <img src="http://placehold.it/150x150">
          <div class="ourconcept">
            <div id="text-card-padded">
              <h3>Step 3</h3>
            </div>
          </div>
      </div>
  </div>
</div>
