<%= content_for(:title) do %>
  Macaron
<% end %>

<%= content_for(:description) do %>
  Tu es un fin pâtissier qui aime concocter de succulentes pâtisseries à tes heures perdues ? Tu cherches un gateau d'anniversaire, des macarons ou d'autres patisseries? N'attends plus! Fondée en avril 2015, Macaron est une plate-forme de confiance qui permet à des pâtissiers amateurs, sélectionnés par nos soins, de vendre, en France, leurs mets en ligne à des gourmets qui passent commande.
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="banner">
        <div class="text-center">
          <h1>MACARON</h1>
          <h2>Pâtisseries entre pâtissiers expérimentés et gourmands</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center" id="search-box">
      <%= render 'shared/searchbar'%>
    </div>
  </div>
  <div class="row">
    <div class="body_home">
      <h1 class="text-center"> Nos meilleurs patissiers</h1>
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="http://placehold.it/200x200">
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="http://placehold.it/200x200">
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="http://placehold.it/200x200">
      </div>
    </div>
  </div>
  <div class="row box_black">
    <h1 class="text-center"> Comment ça marche ?</h1>
    <div class="col-xs-12 col-sm-2">
      <img src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-12 col-sm-2">
      <p> Blababladbalbalbalablab diadnpiand baiodnzipandpa boabdizoan</p>
    </div>
    <div class="col-xs-12 col-sm-2">
      <img src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-12 col-sm-2">
      <p> Blababladbalbalbalablab diadnpiand baiodnzipandpa boabdizoan</p>
    </div>
    <div class="col-xs-12 col-sm-2">
      <img src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-12 col-sm-2">
      <p> Blababladbalbalbalablab diadnpiand baiodnzipandpa boabdizoan</p>
    </div>
  </div>
  <div class="row text-center">
    <h1> A propos de nous</h1>
    <p>
      Patisserie entre particuliers, ouvre ta boutique et vend tes macarons, gateaux, cupcakes ou autres délices autour de toi. Le concept : un amateur ou fan de patisserie créer sa boutique en ligne et affiche ses produits, il les proposes ensuite à la commande pour des gourmants. Tu cherches un gateau d'anniversaire, des macarons fait maison et d'autres patisseries, inscrit toi et commande, cherche ou fait toi livré par un particulier.
    </p>
  </div>
</div>