/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */

.btn-facebook   {

  border-radius: 3px;
  text-shadow: 1px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  background: #47639E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 10px;
  text-align:center;

  a   {
    color:white;
    text-decoration: none;
  }

  a:hover   {
    color:white;
    text-decoration: none;
  }

}

.btn-facebook:hover {
  background: #466AB0;
  text-decoration: none;
  color:white;
}

.btn-price  {
  background:white;
  box-shadow: 1px 1px 1px #adadad;

}

.btn-registration   {

  border-radius: 3px;
  text-shadow: 1px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  background: #4A9BDE;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 10px;
  text-align:center;

  a   {
    color:white;
    text-decoration: none;
  }

  a:hover   {
    color:white;
    text-decoration: none;
  }
}

.btn-registration:hover {
  background: #466AB0;
  text-decoration: none;
  color:white;
}



